
## import(zlibbioc)
## import(grid)
import(Biostrings)
import(Biobase)
import(biomaRt)
import(hwriter)
import(grid)
importFrom(gridSVG, grid.garnish, grid.script, grid.export)
import(RColorBrewer)

exportPattern("^[^\\.]")
## export(downloadProteinAnnotation)
## export(getComplexity)
## export(writeMainReport)
## export(writeStatisticsWholeExperiment)
## export(writeStatistics)
## export(getBindingStatus)
## export(writeBindingStatus)
